<form id='new-task-parent' name='task-parent'>
  <div class='field'>
    <input type='number' name='multiplier' value='<%= multiplier %>' required />
  </div>
  *
  <div class='field'>
    <input type='text' name='task-content' id='task-content' required autofocus />
  </div>

  <div class='actions'>
    <input type='submit' value='Add Parent' />
  </div>
</form>
