<div class='multiplier'></div>
<div><img src='/assets/right-arrow.png' /></div>
<div class='content'></div>
<div><a href='#' class='delete'><img src='/assets/delete.png' alt='delete' title='Delete this association' /></a></div>
