<div id='container'></div>

<script type='text/javascript'>
  $( function() {
    window.router = new Slowmonster.Routers.TasksRouter( { tasks: <%= @tasks.to_json.html_safe -%> } );
    Backbone.history.start();
  } );
</script>
