<div ng-controller='tasksCtrl' ng-init='tasks = <%= @tasks.to_json.html_safe %>; currentTaskTimes = <%= @current_task_times.to_json.html_safe %>'>
  <div ng-controller='currentTaskTimesListCtrl'>
    <div ng-repeat="taskTime in currentTaskTimes">
      <div ng-controller='currentTaskTimeCtrl'>
        {{taskContent(taskTime.task_id)}}
        <span ng-show='breaktime'>BREAK</span>
        {{counter}}
        <span ng-click="stopTaskTime(taskTime.id)">stop</a>
      </div>
    </div>
    <hr />
  </div>

  <div ng-view></div>
  <div ng-hide="notificationPermissionGranted">
    <a ng-click="grantNotificationPermission()">Grant notification permissions</a>
  </div>
</div>
