<h1>Log in</h1>

<form id='new-user-session' name='user-session'>
  <div class='field'>
    </label for='username'> username:</label>
    <input type='text' name='username' id='username' value='<%= username %>' >
  </div>

  <div class='field'>
    </label for='password'> password:</label>
    <input type='text' name='password' id='password' value='<%= password %>' >
  </div>

  <div class='actions'>
    <input type='submit' value='Log in' />
  </div>
</form>
