<h1>Log in</h1>

<% if( typeof( errors ) != undefined) { %>
  <%= errors %>
<% } %>

<form id='new-user-session' name='user-session'>
  <div class='field'>
    </label for='username'> username:</label>
    <input type='text' name='username' id='username' value='<%= username %>' required autofocus />
  </div>

  <div class='field'>
    </label for='password'> password:</label>
    <input type='password' name='password' id='password' value='<%= password %>' required />
  </div>

  <div class='actions'>
    <input type='submit' value='Log in' />
  </div>
</form>
