<div class='task' id=>
  <form id="edit-task" name="task">
    <div class="field">
      <input type="text" name="content" id="content" value="<%= content %>" required autofocus />
    </div>

    <div class="actions">
      <input type="submit" value="Update Task" />
    </div>
  </form>
  <div id='parents'></div>
  <div id='new-parent'></div>
</div>
