<form id="new-task" name="task">
  <div class="field">
    <input type="text" name="content" id="content" value="<%= content %>" required>
  </div>

  <div class="actions">
    <input type="submit" value="Create Task" />
  </div>
</form>

<a href="#/index">Cancel</a>
