<div class='content'><%= content %></div>

<div class='actions'>
  <img class='starter' src='/assets/time.png' title='start this task' />
  <a href="#/<%= id %>/destroy" class="destroy"><img src='/assets/delete.png' title='delete this task' /></a>
</div>
