<div class='content'><%= content %><span class='parent-tasks'></span></div>

<div class='actions'>
  <img class='starter' src='/assets/time.png' title='start this task' />
  <input class='amount' size='4'/><span class='adder'>+</span>
  <img class='editor' src='/assets/edit.png' title='edit this task' />
  <img class='closer' src='/assets/delete.png' title='close this task' />
</div>
