<div class='content'><%= content %></div>

<div class='actions'>
  <img class='starter' src='/assets/time.png' title='start this task' />
  <img class='editor' src='/assets/edit.png' title='edit this task' />
</div>
