$pallate_one: #FEF0A7;
$pallate_two: #C6D3A6;
$pallate_three: #8EB5A4;
$pallate_four: #5697A2;
$pallate_five: #1D79A0;

body {
  font-family: "ff-tisa-web-pro", serif;
  font-size: 20px;
  background-color: $pallate_five; 
  color: $pallate_five;
}

#main {
  width: 800px;
  margin: auto;
  margin-top: 0;
  background-color: $pallate_three;

  .even-list-task .content{
    background-color: $pallate_one;
  }

  .odd-list-task .content{
    background-color: $pallate_two;
  }

  a, a:hover {
    color: $pallate_five;
    text-decoration: none;
    font-weight: bold;
  }

  .clickable {
    cursor: pointer;
    font-weight: bold;
  }
}
