<!DOCTYPE html>
<html>
<head>
  <title>Slowmonster</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script type="text/javascript" src="//use.typekit.net/kng2mkd.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <%= csrf_meta_tags %>
</head>
<body ng-app='slowMonster'>
  <%= yield %>
</body>
</html>
